@using System.Web.Helpers;

@model Project2.ViewModels.OrderSummaryViewModel
@{
    ViewBag.Title = "Order Summary";
}
<div id="orderSummaryContent">
    <div>
      <div id="line-chart"></div>
    </div>
  <div id="aggregates">
  <table class="tableAggregates">
  <tbody>
               <tr>
                <td>
                    <p class="block">
                        <label class="content">$@Model.orderAvg</label><br />
                        <label class="heading">Average Order Amount</label>
                    </p>
                </td>
                <td>
                     <p class="block">
                        <label class="content">$@Model.orderTotal</label><br />
                        <label class="heading">Total Order Amount</label>
                    </p>
                </td>
                <td>
                      <p class="block">
                        <label class="content">$@Model.shippedAvg</label><br />
                        <label class="heading">Average Shipped Amount</label>
                     </p>
                </td>
                <td>
                     <p class="block">
                        <label class="content">$@Model.shippedTotal</label><br />
                        <label class="heading">Total Shipped Amount</label>
                     </p>
                </td>
               </tr>
    </tbody>
    </table>
</div>

<table class="table table-striped table-bordered ">
    <tbody>
        <tr>
                    <th class="col-md-2">Period</th>
                    <th class="col-md-2">Ordered</th>
                    <th class="col-md-2">Shipped</th>
                    <th class="col-md-2">TotalOrderedAmount</th>
                    <th class="col-md-2">TotalShippedAmount</th>
        </tr>
        @foreach (var item in Model.orders)
        {
               <tr>
                <td class="col-md-2">@item.PeriodLabel</td>
                <td class="col-md-2">@item.Ordered</td>
                <td class="col-md-2">@item.Shipped</td>
                <td class="col-md-2">@item.TotalOrderedAmount</td>
                <td class="col-md-2">@item.TotalShippedAmount</td>
               </tr>
                
        }
    </tbody>
</table>
</div>


<script type="text/javascript">
    var jsModel = '@Html.Raw(Json.Encode(@Model.orders))';
    


</script>